<div class="button small secondary">boo</div>

<div class="container card definition">
    <h3>What is Logic?</h3>
    <p><strong>Logic</strong> is technically defined as "the science or study of how to evaluate arguments and
        reasoning." It helps us differentiate correct reasoning from poor reasoning and is fundamental to
        mathematics and computer science.</p>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at pulvinar tellus. Mauris dictum et nulla at
    varius. Donec dapibus libero sit amet erat gravida ullamcorper. Proin eu ex tempus, pulvinar lacus maximus,
    gravida sem. Curabitur risus nunc, placerat at pretium eget, scelerisque vitae urna. Pellentesque dapibus
    neque eu ultricies malesuada. Sed mattis sagittis molestie. Donec dictum, leo non dapibus semper, risus nibh
    cursus dui, nec imperdiet magna ligula ultrices orci. Mauris eget lacus vel ex tincidunt tincidunt. Donec
    laoreet erat non imperdiet feugiat. Phasellus ornare eleifend fringilla. </p>

</div