.button {
    display: inline-flex;
    flex: 0 0 auto;
    width: auto;
    max-width: max-content;
    align-items: center;;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-primary);
    color: white;
}

.button.small {
    padding: 2px 8px;
}

.button.download {
    background: #6c757d;
}

.button:hover {
    transform: translateY(-2px)
}