/* this contains the other classes you can use with container */

.container.border-bottom {
    border-bottom: 4px solid var(--color-primary);
}

.container.border-top {
    border-top: 4px solid var(--color-primary);
}

.container.border-right {
    border-right: 4px solid var(--color-primary);
}

.container.card {
    box-shadow: none;
    background: var(--color-bg-operator-card);
    border-left: 4px solid var(--color-primary);
    padding: 20px;
    gap: 0.5rem;
}

.container.card h3,
.container.card h4 {
    color: var(--color-primary);
}

.container.card.definition {
    background: var(--color-bg-definition-card);
}

.container.card.definition strong {
    color: var(--color-primary-dark);
    transition: color 0.3s ease;
}
